<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>4</string>
	<key>SupportedSystems</key>
	<array>
		<string>10.9</string>
		<string>10.9.1</string>
		<string>10.9.2</string>
		<string>10.9.3</string>
		<string>10.9.4</string>
		<string>10.9.5</string>
	</array>
	<key>CategoryOrder</key>
	<array>
		<string>Folders</string>
		<string>Dock</string>
		<string>Devices</string>
		<string>Others</string>
	</array>
	<key>Icons</key>
	<dict>
		<key>Folders</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_home.icns</string>
				<key>Label</key>
				<string>Home</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/HomeFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_home</string>
				<key>MD5</key>
				<string>64d7d466036f63554393e4123ffa575b</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_generic.icns</string>
				<key>Label</key>
				<string>Generic</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_generic</string>
				<key>MD5</key>
				<string>3de020b39ba7b67f2f46432a78be2d3c</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_smart.icns</string>
				<key>Label</key>
				<string>Smart</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SmartFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_smart</string>
				<key>MD5</key>
				<string>3d817040b8760c568e96bd6503fe428d</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_burnable.icns</string>
				<key>Label</key>
				<string>Burnable</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurnableFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_burnable</string>
				<key>MD5</key>
				<string>2b341dda387c32dafaa670805c04df30</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_desktop.icns</string>
				<key>Label</key>
				<string>Desktop</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DesktopFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_desktop</string>
				<key>MD5</key>
				<string>d0ba056397445d1d6d044e5c9aa31bbc</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_documents.icns</string>
				<key>Label</key>
				<string>Documents</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DocumentsFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_documents</string>
				<key>MD5</key>
				<string>936bf146bd1faf47523cb318f6c89f5b</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_music.icns</string>
				<key>Label</key>
				<string>Music</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MusicFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_music</string>
				<key>MD5</key>
				<string>b0a520f60acf047cb558912ea52542db</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_picture.icns</string>
				<key>Label</key>
				<string>Pictures</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PicturesFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_picture</string>
				<key>MD5</key>
				<string>3b32a5525d7c8512a9c53e564c4ed9a6</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_movies.icns</string>
				<key>Label</key>
				<string>Movies</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MovieFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_movies</string>
				<key>MD5</key>
				<string>d8ee3ff3d9f8219754f37cc41de354d4</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_downloads.icns</string>
				<key>Label</key>
				<string>Downloads</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DownloadsFolder.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_downloads</string>
				<key>MD5</key>
				<string>da9ef60f8e8819d969fd9e70665a8ab9</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_applications.icns</string>
				<key>Label</key>
				<string>Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ApplicationsFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_applications</string>
				<key>MD5</key>
				<string>7061daaa10a0c82f50af7628110f8d05</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_library.icns</string>
				<key>Label</key>
				<string>Library</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/LibraryFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_library</string>
				<key>MD5</key>
				<string>a00f5250f0c81005d1bda3df3201ec5e</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_system.icns</string>
				<key>Label</key>
				<string>System</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SystemFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_system</string>
				<key>MD5</key>
				<string>6aefa61609adb4ccbd451e74ca45aa41</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_developer.icns</string>
				<key>Label</key>
				<string>Developer</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DeveloperFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_developer</string>
				<key>MD5</key>
				<string>216f54fe824a65b318acf719a2091adb</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_utilities.icns</string>
				<key>Label</key>
				<string>Utilities</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UtilitiesFolder.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_utilities</string>
				<key>MD5</key>
				<string>cc207810906691eddf2237ca927ab9a9</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_users.icns</string>
				<key>Label</key>
				<string>Users</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UsersFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_users</string>
				<key>MD5</key>
				<string>1c08a267bb75386bf0a5a54fcab93a95</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_group.icns</string>
				<key>Label</key>
				<string>Group</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GroupFolder.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_group</string>
				<key>MD5</key>
				<string>3a22f77c279afd0b711b476fdae99941</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_public.icns</string>
				<key>Label</key>
				<string>Public</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PublicFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_public</string>
				<key>MD5</key>
				<string>01ece1ae0d680ba85f492e271d6ed486</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_sites.icns</string>
				<key>Label</key>
				<string>Sites</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SitesFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sites</string>
				<key>MD5</key>
				<string>26636dcac8f2a1c511cd85e1c7baba38</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_serverapps.icns</string>
				<key>Label</key>
				<string>Server Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ServerApplicationsFolderIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_serverapps</string>
				<key>MD5</key>
				<string>eca32934fbc41373dd99f792a3510f8f</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_sharepoint.icns</string>
				<key>Label</key>
				<string>Sharepoint</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericSharepoint.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sharepoint</string>
				<key>MD5</key>
				<string>196d090a6f610afe66b8dc50d3092686</string>
			</dict>
		</array>
		<key>Dock</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/dock_finder.png</string>
				<key>Label</key>
				<string>Finder</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/finder.png</string>
				<key>Type</key>
				<string>PngRetina</string>
				<key>Size</key>
				<integer>128</integer>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>dock_finder</string>
				<key>MD5</key>
				<string>ef276ecc2d63e8462e4e24d4dad535ca</string>
				<key>RetinaMD5</key>
				<string>d4e04451cd20f4949f80d479c3c10690</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/dock_dashboard.png</string>
				<key>Label</key>
				<string>Dashboard</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/dashboard.png</string>
				<key>Type</key>
				<string>PngRetina</string>
				<key>Size</key>
				<integer>128</integer>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>dock_dashboard</string>
				<key>MD5</key>
				<string>d935838d54735f265a4eaf3a30abf925</string>
				<key>RetinaMD5</key>
				<string>c273ef8b4c95717a41a5e810c2b585a3</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/dock_emptytrash.png</string>
				<key>Label</key>
				<string>Empty Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashempty.png</string>
				<key>Type</key>
				<string>PngRetina</string>
				<key>Size</key>
				<integer>128</integer>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>dock_emptytrash</string>
				<key>MD5</key>
				<string>6153bddff3c807b0e9eb578cc5806170</string>
				<key>RetinaMD5</key>
				<string>91c9e89f7162812f6760ae84e1ada0b6</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/dock_fulltrash.png</string>
				<key>Label</key>
				<string>Full Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashfull.png</string>
				<key>Type</key>
				<string>PngRetina</string>
				<key>Size</key>
				<integer>128</integer>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>dock_fulltrash</string>
				<key>MD5</key>
				<string>562c528e9884a336dac8482cc93b3b95</string>
				<key>RetinaMD5</key>
				<string>99f12e9eee7f09501633b34ad2077704</string>
			</dict>
		</array>
		<key>Devices</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_internalgeneric.icns</string>
				<key>Label</key>
				<string>Internal</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Internal.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_internalgeneric</string>
				<key>MD5</key>
				<string>a2b72ba657c85db7bd99095b44df4eb3</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_removablegeneric.icns</string>
				<key>Label</key>
				<string>Removable</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Removable.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_removablegeneric</string>
				<key>MD5</key>
				<string>78f89324e9404ee5544ac511f0cf7c60</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_externalgeneric.icns</string>
				<key>Label</key>
				<string>External</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/External.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_externalgeneric</string>
				<key>MD5</key>
				<string>8fc85ba0609c96120d6f64a637f1b5dc</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_firewirehd.icns</string>
				<key>Label</key>
				<string>Firewire HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/FireWireHD.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_firewirehd</string>
				<key>MD5</key>
				<string>b3dd828dd0043247d3ad745370b002e6</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_usbhd.icns</string>
				<key>Label</key>
				<string>USB HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/USBHD.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_usbhd</string>
				<key>MD5</key>
				<string>ca120ec8b3adefedd8467b2e243b4d13</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_timemachine.icns</string>
				<key>Label</key>
				<string>Time Machine</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericTimeMachineDiskIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_timemachine</string>
				<key>MD5</key>
				<string>225c24307f39ae45b688eec7f42af68e</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_fileserver.icns</string>
				<key>Label</key>
				<string>Server</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFileServerIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_fileserver</string>
				<key>MD5</key>
				<string>1263c5c5a54bd324ef92fcea17640e79</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_idisk.icns</string>
				<key>Label</key>
				<string>iDisk</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/iDiskGenericIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_idisk</string>
				<key>MD5</key>
				<string>3a38935ec6c02fb45106abf3be366da4</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_idisk_user.icns</string>
				<key>Label</key>
				<string>iDisk User</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/iDiskUserIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_idisk_user</string>
				<key>MD5</key>
				<string>b58671a4795cb1491330ef66f0cf2636</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/folder_airdisk.icns</string>
				<key>Label</key>
				<string>AirPort Disk</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericAirDiskIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_airdisk</string>
				<key>MD5</key>
				<string>7675a8d3a0c39baa6add289a4ccfba7a</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_cdr.icns</string>
				<key>Label</key>
				<string>CD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-R.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdr</string>
				<key>MD5</key>
				<string>3830f06e8d3fbebc52686f80e778ed3a</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_cdrw.icns</string>
				<key>Label</key>
				<string>CD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-RW.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdrw</string>
				<key>MD5</key>
				<string>1442c66a41801e56bc50f9fced4fe357</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_cd.icns</string>
				<key>Label</key>
				<string>CD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cd</string>
				<key>MD5</key>
				<string>ce9c1d1d88a644f7326a1cb8370442e2</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvdr.icns</string>
				<key>Label</key>
				<string>DVD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-R.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdr</string>
				<key>MD5</key>
				<string>6b675c5c1908e3410c0d1f16b165f1e7</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvdrw.icns</string>
				<key>Label</key>
				<string>DVD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RW.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdrw</string>
				<key>MD5</key>
				<string>7c1d88154987cde69dd6cae7042b354b</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvdplusr.icns</string>
				<key>Label</key>
				<string>DVD+R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+R.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusr</string>
				<key>MD5</key>
				<string>72542da517194eb518ed88db6beb903d</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvdplusrw.icns</string>
				<key>Label</key>
				<string>DVD+RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+RW.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusrw</string>
				<key>MD5</key>
				<string>4943ed8b089ecd4ac79cb9f976d7d30c</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvdram.icns</string>
				<key>Label</key>
				<string>DVD-RAM</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RAM.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdram</string>
				<key>MD5</key>
				<string>e01d3ebb1b171823c50f7d147ebbcdbd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_dvd.icns</string>
				<key>Label</key>
				<string>DVD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvd</string>
				<key>MD5</key>
				<string>bbb5e3e78d29453d7f7a0cecfa4b4fb8</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_bd.icns</string>
				<key>Label</key>
				<string>BD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bd</string>
				<key>MD5</key>
				<string>9148ab0c1370a8d5b53ee768a4ad68f2</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_bdr.icns</string>
				<key>Label</key>
				<string>BD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-R.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdr</string>
				<key>MD5</key>
				<string>d3c6f20d5e5540ae4ac3a5ddc664a996</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/device_bdre.icns</string>
				<key>Label</key>
				<string>BD-RE</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-RE.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdre</string>
				<key>MD5</key>
				<string>66888cbc6cddfcced2667c21819ad71d</string>
			</dict>
		</array>
		<key>Others</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/toolbar_genericdocument.icns</string>
				<key>Label</key>
				<string>Document</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericDocumentIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericdocument</string>
				<key>MD5</key>
				<string>9204c0668aa95ad8e438e7d477c4b099</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/toolbar_genericapp.icns</string>
				<key>Label</key>
				<string>App</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericApplicationIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericapp</string>
				<key>MD5</key>
				<string>febd246bfa81eddf645c4ca7ba233bcb</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/toolbar_alias.icns</string>
				<key>Label</key>
				<string>Alias Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AliasBadgeIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_alias</string>
				<key>MD5</key>
				<string>751582fe41f4a624840b7dadaf3161e7</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/badge_private.icns</string>
				<key>Label</key>
				<string>Private Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PrivateFolderBadgeIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_private</string>
				<key>MD5</key>
				<string>280e474a2ca1b0c39ac2ff8ff505e921</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.9/badge_readonly.icns</string>
				<key>Label</key>
				<string>Read Only Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ReadOnlyFolderBadgeIcon.icns</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_readonly</string>
				<key>MD5</key>
				<string>44d5ac5da5b9e270d45dc5cfb92cf6fb</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
