<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CategoryOrder</key>
	<array>
		<string>Folders</string>
		<string>Dock</string>
		<string>Devices</string>
		<string>Others</string>
	</array>
	<key>Icons</key>
	<dict>
		<key>Devices</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_internalgeneric.icns</string>
				<key>Label</key>
				<string>Internal</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Internal.icns</string>
				<key>MD5</key>
				<string>2cf31eba9f0ec6b24e12d9613fbb13d8</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_internalgeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_removablegeneric.icns</string>
				<key>Label</key>
				<string>Removable</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Removable.icns</string>
				<key>MD5</key>
				<string>4422d663c60118fffffae18f3a25a2ea</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_removablegeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_externalgeneric.icns</string>
				<key>Label</key>
				<string>External</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/External.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_externalgeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_firewirehd.icns</string>
				<key>Label</key>
				<string>Firewire HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/FireWireHD.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_firewirehd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_usbhd.icns</string>
				<key>Label</key>
				<string>USB HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/USBHD.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_usbhd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_timemachine.icns</string>
				<key>Label</key>
				<string>Time Machine</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericTimeMachineDiskIcon.icns</string>
				<key>MD5</key>
				<string>5e7fb3413d33d13b4b935425c38429e5</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_timemachine</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_fileserver.icns</string>
				<key>Label</key>
				<string>Server</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFileServerIcon.icns</string>
				<key>MD5</key>
				<string>a4a8dd8ed8f98f2108372ece76d4627d</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_fileserver</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_airdisk.icns</string>
				<key>Label</key>
				<string>AirPort Disk</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericAirDiskIcon.icns</string>
				<key>MD5</key>
				<string>062bef04548710bd8f3b927dbc8834e2</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_airdisk</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_cdr.icns</string>
				<key>Label</key>
				<string>CD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-R.icns</string>
				<key>MD5</key>
				<string>932f998ed4ead3f245781e906eb4e07e</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_cdrw.icns</string>
				<key>Label</key>
				<string>CD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-RW.icns</string>
				<key>MD5</key>
				<string>a5a8690fd22cc9443f03b61857dd77b4</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_cd.icns</string>
				<key>Label</key>
				<string>CD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD.icns</string>
				<key>MD5</key>
				<string>18219e33ae140b9f22ea96227d1ef562</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvdr.icns</string>
				<key>Label</key>
				<string>DVD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-R.icns</string>
				<key>MD5</key>
				<string>95ec064e95ed6cb971ab47d7a2176b58</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvdrw.icns</string>
				<key>Label</key>
				<string>DVD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RW.icns</string>
				<key>MD5</key>
				<string>e389bc0c97b30747de9bb99900fc4d52</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvdplusr.icns</string>
				<key>Label</key>
				<string>DVD+R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+R.icns</string>
				<key>MD5</key>
				<string>aefa29e63935d21b748de04475912d9f</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvdplusrw.icns</string>
				<key>Label</key>
				<string>DVD+RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+RW.icns</string>
				<key>MD5</key>
				<string>336db8903c8bc2e74c9692db1a620ecb</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvdram.icns</string>
				<key>Label</key>
				<string>DVD-RAM</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RAM.icns</string>
				<key>MD5</key>
				<string>a8ec55a04317c55b2b770bea752e44db</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdram</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_dvd.icns</string>
				<key>Label</key>
				<string>DVD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD.icns</string>
				<key>MD5</key>
				<string>413527230c1010520eaa767661a35375</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_bd.icns</string>
				<key>Label</key>
				<string>BD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD.icns</string>
				<key>MD5</key>
				<string>7d98f3583a26dec8a6fa279017e88aa7</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_bdr.icns</string>
				<key>Label</key>
				<string>BD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-R.icns</string>
				<key>MD5</key>
				<string>8df596cf731bddb12fce4edefc48bdf6</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/device_bdre.icns</string>
				<key>Label</key>
				<string>BD-RE</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-RE.icns</string>
				<key>MD5</key>
				<string>60d952013b7d2608a1328e6d09b75344</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdre</string>
			</dict>
		</array>
		<key>Dock</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_finder.png</string>
				<key>Label</key>
				<string>Finder</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/finder.png</string>
				<key>MD5</key>
				<string>d6b034b5ca3425553110ac6865e558b0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>0311c632f36550354f90503e01e88a63</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_finder</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_dashboard.png</string>
				<key>Label</key>
				<string>Dashboard</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/dashboard.png</string>
				<key>MD5</key>
				<string>32f98b86654168b7577c573b17f7d7c5</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>da81f8732aab094723bbd3ec21798eb9</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_dashboard</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_emptytrash.png</string>
				<key>Label</key>
				<string>Empty Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashempty.png</string>
				<key>MD5</key>
				<string>5ec5ffb866305cb7869e3c7194ed5e52</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>575122ec5b67d598fef724f08dad7a59</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_emptytrash</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_fulltrash.png</string>
				<key>Label</key>
				<string>Full Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashfull.png</string>
				<key>MD5</key>
				<string>c55c59a7c976ddb60fabc36b8b1dceab</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>53d7ae08e272220a64d4c4bcbae7ee56</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_fulltrash</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_emptytrash_dark.png</string>
				<key>Label</key>
				<string>Empty Trash Dark</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashempty2.png</string>
				<key>MD5</key>
				<string>cbc03df4f0733b09ec67a51044bfa5f6</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>ecc1873dc0d84f8918503852eaa22aab</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_emptytrash_dark</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/dock_fulltrash_dark.png</string>
				<key>Label</key>
				<string>Full Trash Dark</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashfull2.png</string>
				<key>MD5</key>
				<string>8a2ff9488070553351fea8a850840295</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>3f7197e8522ff38cd8f5d3aedefdf7b2</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_fulltrash_dark</string>
			</dict>
		</array>
		<key>Folders</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_home.icns</string>
				<key>Label</key>
				<string>Home</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/HomeFolderIcon.icns</string>
				<key>MD5</key>
				<string>c7dca39deabf6588e0a1bc2359e0a164</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_home</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_generic.icns</string>
				<key>Label</key>
				<string>Generic</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFolderIcon.icns</string>
				<key>MD5</key>
				<string>03f0bd707edbcc6f1a3e75b7b2b84fa0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_generic</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_smart.icns</string>
				<key>Label</key>
				<string>Smart</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SmartFolderIcon.icns</string>
				<key>MD5</key>
				<string>171627f6c62c95ab4125e6d15d36e52f</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_smart</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_burnable.icns</string>
				<key>Label</key>
				<string>Burnable</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurnableFolderIcon.icns</string>
				<key>MD5</key>
				<string>e21df0a91a133a66b7110c4e65df0c94</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_burnable</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_desktop.icns</string>
				<key>Label</key>
				<string>Desktop</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DesktopFolderIcon.icns</string>
				<key>MD5</key>
				<string>98d43881cb954a508e0288411286d097</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_desktop</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_documents.icns</string>
				<key>Label</key>
				<string>Documents</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DocumentsFolderIcon.icns</string>
				<key>MD5</key>
				<string>8a71f718f391939758e5c79faff1ed24</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_documents</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_music.icns</string>
				<key>Label</key>
				<string>Music</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MusicFolderIcon.icns</string>
				<key>MD5</key>
				<string>821ab2b5d674665b9ae9db73bdce1775</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_music</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_picture.icns</string>
				<key>Label</key>
				<string>Pictures</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PicturesFolderIcon.icns</string>
				<key>MD5</key>
				<string>e7487c62b798829fc9f7ea8fe3796247</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_picture</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_movies.icns</string>
				<key>Label</key>
				<string>Movies</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MovieFolderIcon.icns</string>
				<key>MD5</key>
				<string>d273908e244c328bf567d6d327213b0e</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_movies</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_downloads.icns</string>
				<key>Label</key>
				<string>Downloads</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DownloadsFolder.icns</string>
				<key>MD5</key>
				<string>4f17ed6eef869afb27bebcfdf1a1b9cb</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_downloads</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_applications.icns</string>
				<key>Label</key>
				<string>Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ApplicationsFolderIcon.icns</string>
				<key>MD5</key>
				<string>157c48c4f0aed36bdecb36a555f369b9</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_applications</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_library.icns</string>
				<key>Label</key>
				<string>Library</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/LibraryFolderIcon.icns</string>
				<key>MD5</key>
				<string>9902ffa2f3e16a00b687a4454fc73775</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_library</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_system.icns</string>
				<key>Label</key>
				<string>System</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SystemFolderIcon.icns</string>
				<key>MD5</key>
				<string>7678d337c4d3f167eaf26fbab5568b43</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_system</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_developer.icns</string>
				<key>Label</key>
				<string>Developer</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DeveloperFolderIcon.icns</string>
				<key>MD5</key>
				<string>50618f13f15d775e16c328706f85706c</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_developer</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_utilities.icns</string>
				<key>Label</key>
				<string>Utilities</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UtilitiesFolder.icns</string>
				<key>MD5</key>
				<string>4e6df6ca20873a215bd8bec8df2c2e60</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_utilities</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_users.icns</string>
				<key>Label</key>
				<string>Users</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UsersFolderIcon.icns</string>
				<key>MD5</key>
				<string>1dc8625e3f58b3384c7d8f235f15ca49</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_users</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_group.icns</string>
				<key>Label</key>
				<string>Group</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GroupFolder.icns</string>
				<key>MD5</key>
				<string>17b570289fe295d2b3ed22776e78f580</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_group</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_public.icns</string>
				<key>Label</key>
				<string>Public</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PublicFolderIcon.icns</string>
				<key>MD5</key>
				<string>c924961b1a99b26421c9769d15df6edf</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_public</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_sites.icns</string>
				<key>Label</key>
				<string>Sites</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SitesFolderIcon.icns</string>
				<key>MD5</key>
				<string>d88dfc333a9eb88ef5669a8f2c6f2637</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sites</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_serverapps.icns</string>
				<key>Label</key>
				<string>Server Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ServerApplicationsFolderIcon.icns</string>
				<key>MD5</key>
				<string>b98094ba532f5728b29ef9da514bda08</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_serverapps</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/folder_sharepoint.icns</string>
				<key>Label</key>
				<string>Sharepoint</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericSharepoint.icns</string>
				<key>MD5</key>
				<string>c7b1f68cb1d00000b4f59e27d90136a4</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sharepoint</string>
			</dict>
		</array>
		<key>Others</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/toolbar_genericdocument.icns</string>
				<key>Label</key>
				<string>Document</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericDocumentIcon.icns</string>
				<key>MD5</key>
				<string>76afe417be7729afd476a7e8b7de2ef0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericdocument</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/toolbar_genericapp.icns</string>
				<key>Label</key>
				<string>App</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericApplicationIcon.icns</string>
				<key>MD5</key>
				<string>72cf5064da02d0d31e52403f51c02805</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericapp</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/toolbar_alias.icns</string>
				<key>Label</key>
				<string>Alias Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AliasBadgeIcon.icns</string>
				<key>MD5</key>
				<string>9b85e681a3c1a47dbaa5ec07f21e7427</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_alias</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/badge_private.icns</string>
				<key>Label</key>
				<string>Private Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PrivateFolderBadgeIcon.icns</string>
				<key>MD5</key>
				<string>e06783a309810a30f3456f11a0eb376d</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_private</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.14/badge_readonly.icns</string>
				<key>Label</key>
				<string>Read Only Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ReadOnlyFolderBadgeIcon.icns</string>
				<key>MD5</key>
				<string>b51946f5f182a3e393067d1256b63266</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_readonly</string>
			</dict>
		</array>
	</dict>
	<key>SupportedSystems</key>
	<array>
		<string>10.14</string>
	</array>
	<key>Version</key>
	<string>1</string>
</dict>
</plist>
