<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CategoryOrder</key>
	<array>
		<string>Folders</string>
		<string>Dock</string>
		<string>Devices</string>
		<string>Others</string>
	</array>
	<key>Icons</key>
	<dict>
		<key>Devices</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_internalgeneric.icns</string>
				<key>Label</key>
				<string>Internal</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Internal.icns</string>
				<key>MD5</key>
				<string>2cf31eba9f0ec6b24e12d9613fbb13d8</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_internalgeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_removablegeneric.icns</string>
				<key>Label</key>
				<string>Removable</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Removable.icns</string>
				<key>MD5</key>
				<string>4422d663c60118fffffae18f3a25a2ea</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_removablegeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_externalgeneric.icns</string>
				<key>Label</key>
				<string>External</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/External.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_externalgeneric</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_firewirehd.icns</string>
				<key>Label</key>
				<string>Firewire HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/FireWireHD.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_firewirehd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_usbhd.icns</string>
				<key>Label</key>
				<string>USB HD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOSCSIArchitectureModelFamily.kext/Contents/Resources/USBHD.icns</string>
				<key>MD5</key>
				<string>dfbff57def0c7a37d5f683cf5b2976ac</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_usbhd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_timemachine.icns</string>
				<key>Label</key>
				<string>Time Machine</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericTimeMachineDiskIcon.icns</string>
				<key>MD5</key>
				<string>5e7fb3413d33d13b4b935425c38429e5</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_timemachine</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_fileserver.icns</string>
				<key>Label</key>
				<string>Server</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFileServerIcon.icns</string>
				<key>MD5</key>
				<string>a4a8dd8ed8f98f2108372ece76d4627d</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_fileserver</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_airdisk.icns</string>
				<key>Label</key>
				<string>AirPort Disk</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericAirDiskIcon.icns</string>
				<key>MD5</key>
				<string>062bef04548710bd8f3b927dbc8834e2</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_airdisk</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_cdr.icns</string>
				<key>Label</key>
				<string>CD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-R.icns</string>
				<key>MD5</key>
				<string>932f998ed4ead3f245781e906eb4e07e</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_cdrw.icns</string>
				<key>Label</key>
				<string>CD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD-RW.icns</string>
				<key>MD5</key>
				<string>a5a8690fd22cc9443f03b61857dd77b4</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cdrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_cd.icns</string>
				<key>Label</key>
				<string>CD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOCDStorageFamily.kext/Contents/Resources/CD.icns</string>
				<key>MD5</key>
				<string>18219e33ae140b9f22ea96227d1ef562</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_cd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvdr.icns</string>
				<key>Label</key>
				<string>DVD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-R.icns</string>
				<key>MD5</key>
				<string>95ec064e95ed6cb971ab47d7a2176b58</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvdrw.icns</string>
				<key>Label</key>
				<string>DVD-RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RW.icns</string>
				<key>MD5</key>
				<string>e389bc0c97b30747de9bb99900fc4d52</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvdplusr.icns</string>
				<key>Label</key>
				<string>DVD+R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+R.icns</string>
				<key>MD5</key>
				<string>aefa29e63935d21b748de04475912d9f</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvdplusrw.icns</string>
				<key>Label</key>
				<string>DVD+RW</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD+RW.icns</string>
				<key>MD5</key>
				<string>336db8903c8bc2e74c9692db1a620ecb</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdplusrw</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvdram.icns</string>
				<key>Label</key>
				<string>DVD-RAM</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD-RAM.icns</string>
				<key>MD5</key>
				<string>a8ec55a04317c55b2b770bea752e44db</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvdram</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_dvd.icns</string>
				<key>Label</key>
				<string>DVD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IODVDStorageFamily.kext/Contents/Resources/DVD.icns</string>
				<key>MD5</key>
				<string>413527230c1010520eaa767661a35375</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_dvd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_bd.icns</string>
				<key>Label</key>
				<string>BD</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD.icns</string>
				<key>MD5</key>
				<string>7d98f3583a26dec8a6fa279017e88aa7</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bd</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_bdr.icns</string>
				<key>Label</key>
				<string>BD-R</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-R.icns</string>
				<key>MD5</key>
				<string>8df596cf731bddb12fce4edefc48bdf6</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdr</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/device_bdre.icns</string>
				<key>Label</key>
				<string>BD-RE</string>
				<key>Location</key>
				<string>/System/Library/Extensions/IOBDStorageFamily.kext/Contents/Resources/BD-RE.icns</string>
				<key>MD5</key>
				<string>60d952013b7d2608a1328e6d09b75344</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>device_bdre</string>
			</dict>
		</array>
		<key>Dock</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/dock_finder.png</string>
				<key>Label</key>
				<string>Finder</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/finder.png</string>
				<key>MD5</key>
				<string>d6b034b5ca3425553110ac6865e558b0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>0311c632f36550354f90503e01e88a63</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_finder</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/dock_dashboard.png</string>
				<key>Label</key>
				<string>Dashboard</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/dashboard.png</string>
				<key>MD5</key>
				<string>32f98b86654168b7577c573b17f7d7c5</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>da81f8732aab094723bbd3ec21798eb9</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_dashboard</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/dock_emptytrash.png</string>
				<key>Label</key>
				<string>Empty Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashempty.png</string>
				<key>MD5</key>
				<string>5ec5ffb866305cb7869e3c7194ed5e52</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>575122ec5b67d598fef724f08dad7a59</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_emptytrash</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/dock_fulltrash.png</string>
				<key>Label</key>
				<string>Full Trash</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/Dock.app/Contents/Resources/trashfull.png</string>
				<key>MD5</key>
				<string>c55c59a7c976ddb60fabc36b8b1dceab</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>RetinaMD5</key>
				<string>53d7ae08e272220a64d4c4bcbae7ee56</string>
				<key>Size</key>
				<integer>128</integer>
				<key>Type</key>
				<string>PngRetina</string>
				<key>UID</key>
				<string>dock_fulltrash</string>
			</dict>
		</array>
		<key>Folders</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_home.icns</string>
				<key>Label</key>
				<string>Home</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/HomeFolderIcon.icns</string>
				<key>MD5</key>
				<string>c7dca39deabf6588e0a1bc2359e0a164</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_home</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_generic.icns</string>
				<key>Label</key>
				<string>Generic</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFolderIcon.icns</string>
				<key>MD5</key>
				<string>4c0ec04b1af8117df47569ea59ce7728</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_generic</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_smart.icns</string>
				<key>Label</key>
				<string>Smart</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SmartFolderIcon.icns</string>
				<key>MD5</key>
				<string>507b7686c79e0b23475271c0cea0c8ae</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_smart</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_burnable.icns</string>
				<key>Label</key>
				<string>Burnable</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurnableFolderIcon.icns</string>
				<key>MD5</key>
				<string>078514f1d126e9fe691c6c831d411617</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_burnable</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_desktop.icns</string>
				<key>Label</key>
				<string>Desktop</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DesktopFolderIcon.icns</string>
				<key>MD5</key>
				<string>aff183b4459e833aa5df4e881229abc3</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_desktop</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_documents.icns</string>
				<key>Label</key>
				<string>Documents</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DocumentsFolderIcon.icns</string>
				<key>MD5</key>
				<string>2a56d82534debf9d0fd53990002a0912</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_documents</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_music.icns</string>
				<key>Label</key>
				<string>Music</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MusicFolderIcon.icns</string>
				<key>MD5</key>
				<string>82a615a290c790ded66bacb547670538</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_music</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_picture.icns</string>
				<key>Label</key>
				<string>Pictures</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PicturesFolderIcon.icns</string>
				<key>MD5</key>
				<string>8d02be33200169209b79fd61eceb70aa</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_picture</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_movies.icns</string>
				<key>Label</key>
				<string>Movies</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/MovieFolderIcon.icns</string>
				<key>MD5</key>
				<string>2328f44c2989ec2d5b7f01ebe7e5fbd0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_movies</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_downloads.icns</string>
				<key>Label</key>
				<string>Downloads</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DownloadsFolder.icns</string>
				<key>MD5</key>
				<string>22c9d8118afa0ad74ae15dfc10b5c6d1</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_downloads</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_applications.icns</string>
				<key>Label</key>
				<string>Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ApplicationsFolderIcon.icns</string>
				<key>MD5</key>
				<string>37d6b0b7189f854f1cb886f9ffe8e594</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_applications</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_library.icns</string>
				<key>Label</key>
				<string>Library</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/LibraryFolderIcon.icns</string>
				<key>MD5</key>
				<string>ed6e259e215296ec6bd60262c362c6ce</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_library</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_system.icns</string>
				<key>Label</key>
				<string>System</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SystemFolderIcon.icns</string>
				<key>MD5</key>
				<string>8c4749c93179b67c79e1cf02c3dc531a</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_system</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_developer.icns</string>
				<key>Label</key>
				<string>Developer</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/DeveloperFolderIcon.icns</string>
				<key>MD5</key>
				<string>a70b766dc3914f56474f4a830f79d927</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_developer</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_utilities.icns</string>
				<key>Label</key>
				<string>Utilities</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UtilitiesFolder.icns</string>
				<key>MD5</key>
				<string>c96c81b767dc6d65e169a79cb231c613</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_utilities</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_users.icns</string>
				<key>Label</key>
				<string>Users</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UsersFolderIcon.icns</string>
				<key>MD5</key>
				<string>9444f47148c61cb9e6aad670813bc708</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_users</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_group.icns</string>
				<key>Label</key>
				<string>Group</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GroupFolder.icns</string>
				<key>MD5</key>
				<string>b2b5a1c5db9bd67ab67d83ba8326f70d</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_group</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_public.icns</string>
				<key>Label</key>
				<string>Public</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PublicFolderIcon.icns</string>
				<key>MD5</key>
				<string>435facd895ad6dcd9fc817cf3b010806</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_public</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_sites.icns</string>
				<key>Label</key>
				<string>Sites</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SitesFolderIcon.icns</string>
				<key>MD5</key>
				<string>5c998343ae6eb3ebbdf7cc826213443f</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sites</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_serverapps.icns</string>
				<key>Label</key>
				<string>Server Apps</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ServerApplicationsFolderIcon.icns</string>
				<key>MD5</key>
				<string>34057a433f2ac34a9ef91a2a8c2de70e</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_serverapps</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/folder_sharepoint.icns</string>
				<key>Label</key>
				<string>Sharepoint</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericSharepoint.icns</string>
				<key>MD5</key>
				<string>c36ffa7be18fb337bbcd6fabeb807a3b</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>folder_sharepoint</string>
			</dict>
		</array>
		<key>Others</key>
		<array>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/toolbar_genericdocument.icns</string>
				<key>Label</key>
				<string>Document</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericDocumentIcon.icns</string>
				<key>MD5</key>
				<string>76afe417be7729afd476a7e8b7de2ef0</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericdocument</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/toolbar_genericapp.icns</string>
				<key>Label</key>
				<string>App</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericApplicationIcon.icns</string>
				<key>MD5</key>
				<string>72cf5064da02d0d31e52403f51c02805</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_genericapp</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/toolbar_alias.icns</string>
				<key>Label</key>
				<string>Alias Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AliasBadgeIcon.icns</string>
				<key>MD5</key>
				<string>9b85e681a3c1a47dbaa5ec07f21e7427</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>toolbar_alias</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/badge_private.icns</string>
				<key>Label</key>
				<string>Private Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/PrivateFolderBadgeIcon.icns</string>
				<key>MD5</key>
				<string>e06783a309810a30f3456f11a0eb376d</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_private</string>
			</dict>
			<dict>
				<key>BackupLocation</key>
				<string>10.13/badge_readonly.icns</string>
				<key>Label</key>
				<string>Read Only Badge</string>
				<key>Location</key>
				<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ReadOnlyFolderBadgeIcon.icns</string>
				<key>MD5</key>
				<string>b51946f5f182a3e393067d1256b63266</string>
				<key>PostAction</key>
				<string>LogOut</string>
				<key>UID</key>
				<string>badge_readonly</string>
			</dict>
		</array>
	</dict>
	<key>SupportedSystems</key>
	<array>
		<string>10.13</string>
	</array>
	<key>Version</key>
	<string>1</string>
</dict>
</plist>
